*{outline:none !important; box-sizing:border-box;font-family: 'Cera Pro';}
ul, ol {padding:0px; margin:0px;}
ul li, ol li {list-style-type: none; margin:0; padding:0;}
p,h1,h2,h3,h4,h5,h6{padding:0; margin:0;}
a,a:hover,a:focus,a:active {outline: none !important; text-decoration: none;}
body{font-family: 'Cera Pro'; font-size:14px;font-weight: normal; font-style: normal;}
img{max-width: 100%; display: block;}

@media(min-width:1360px){.container{max-width:1200px; margin:auto;}}
body {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    background-color: #fff;
}
.header-area {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 100%;
}
.dope-nav-container {
    position: relative;
    z-index: 100;
    background-color: transparent;
    padding: 10px 0px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: 0.25s cubic-bezier(0.43, 0.49, 0.51, 0.68);
    -o-transition: 0.25s cubic-bezier(0.43, 0.49, 0.51, 0.68);
    transition: 0.25s cubic-bezier(0.43, 0.49, 0.51, 0.68);
}
.dope-navbar {
    width: 100%;
    height: 70px;
    padding: 0.5em 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
}
.dope-navbar .nav-brand {
    font-size: 26px;
    font-weight: 500;
    color: #565656;
    display: inline-block;
    margin-right: 30px;
}

.dope-navbar-toggler {
    border: none;
    background-color: transparent;
    cursor: pointer;
    display: block;
    float: left;
}
.dope-navbar-toggler .navbarToggler {
    display: inline-block;
    cursor: pointer;
}

.dope-navbar-toggler .navbarToggler span {
    position: relative;
    background-color: #fff;
    border-radius: 3px;
    display: block;
    height: 4px;
    margin-top: 5px;
    padding: 0;
    -webkit-transition-duration: 300ms;
    -o-transition-duration: 300ms;
    transition-duration: 300ms;
    width: 30px;
    cursor: pointer;
}
.dope-navbar-toggler .navbarToggler.active span:nth-of-type(1) {
    -webkit-transform: rotate3d(0, 0, 1, 45deg);
    transform: rotate3d(0, 0, 1, 45deg);
    top: 8px;
    width: 30px !important;
}
.dope-navbar-toggler .navbarToggler.active span:nth-of-type(3) {
    -webkit-transform: rotate3d(0, 0, 1, -45deg);
    transform: rotate3d(0, 0, 1, -45deg);
    top: -9px;
    width: 30px !important;
}
.dope-navbar-toggler .navbarToggler.active span:nth-of-type(2) {
    opacity: 0;
}
.dope-navbar .dope-menu {
    background-color: #79c2de;
    position: fixed;
    top: 0;
    left: -310px;
    z-index: 1000;
    width: 300px;
    height: 100%;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    padding: 0;
    -webkit-box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
    display: block;
    overflow-x: hidden;
    overflow-y: hidden;
}
.dope-navbar .dope-menu.menu-on {
    left: 0;
}

.dopecloseIcon {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 12;
    display: block;
}
.dopenav {
    padding-top: 70px;
    padding-left: 20px;
    padding-right: 20px;
}
.dope-nav-container.dope-sticky {
    background-color:rgba(121,194,222,0.8);
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-box-shadow: 0px 9px 40px -13px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 40px -13px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 40px -13px rgba(0, 0, 0, 0.75);
}
.dopenav ul li {
    display: block;
    position: relative;
    clear: both;
    z-index: 10;
}
.dopenav ul li a {
    padding: 0 10px;
    height: 38px;
    line-height: 38px;
    display: block;
    font-size: 14px;
    color: #fff;
}
.dopenav > ul > li > a {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.dope-nav-container a {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    text-decoration: none;
    outline: none;
    font-weight: 600;
}
.dopecloseIcon .cross-wrap {
    width: 26px;
    height: 26px;
    cursor: pointer;
    position: relative;
}
.dopecloseIcon .cross-wrap span {
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 6px;
    background: #fff;
}
.dopecloseIcon .cross-wrap span.top {
    top: 12px;
    left: 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.dopecloseIcon .cross-wrap span.bottom {
    bottom: 12px;
    left: 0;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.left-header #wrap {
    margin: 0px;
    display: inline-block;
    position: relative;
    height: 0;
    float: right;
    padding: 0;
    width: 30px;
    height: 30px;
    margin: 0 20px;
}

.left-header input[type="text"] {
    height: 41px;
    font-size: 25px;
    display: inline-block;
    font-weight: normal;
    border: none;
    outline: none;
    color: #fff;
    background-color: rgba(255,255,255,0);
    padding: 3px;
    padding-left: 60px;
    width: 0px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
    transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    -webkit-transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
    cursor: pointer;
}

.left-header input[type="text"]:focus:hover {
  border-bottom: 1px solid #fff;
}

.left-header input[type="text"]:focus {
  width: 700px;
  z-index: 1;
  border-bottom: 1px solid #fff;
  cursor: text;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  -webkit-transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
}
.left-header input[type="submit"] {
    height: 30px;
    width: 26px;
    margin: 2px 0;
    display: inline-block;
    color: red;
    float: right;
    background-image: url('../image/search.svg');
    background-repeat: no-repeat;
    background-position: center center;
    text-indent: -10000px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    opacity:1;
    cursor: pointer;
    transition: opacity .4s ease;
    background-size: contain;
    background-color: transparent;
}

.left-header input[type="submit"]:hover {
  opacity: 0.8;
}

header.header nav.navbar {
    width: 100%;
    float: left;
    padding: 0;
}
header .navbar-light .navbar-nav .nav-link {
    color: #333333;
    font-size: 18px;
    text-transform: uppercase;
}
section, footer{
	width: 100%;
	float: left;
	display: block;
}
section.three-block {
    padding: 0;
}
.info-box.blue-box {
    background-color: #79c2de;
    color: #fff;
    display: flex;
    flex-wrap: wrap;
}
.infobox-in {
    width: 100%;
    height: auto;
    padding: 130px 20px 20px 20px;
    display: block;
    float: left;
}
.info-box.image-box {
    background-color: #d22a6b;
    width: 100%;
    float: left;
    height: auto;
}

.satisfication-block {
    display: block;
    width: 100%;
    float: left;
    padding-bottom: 30px;
}
.satisfied-img {
    width: 40%;
    float: left;
    display: inline-block;
    padding: 0 20px;
    margin-top: -80px;
}
.satisfication-button {
    width: 60%;
    float: left;
    vertical-align: middle;
    height: 100%;
    display: inline-block;
}
.satisfication-button a.button-link {
    display: inline-block;
    padding: 0 35px;
}

.satisfication-button .button-main {
    text-align: center;
    margin: 87px auto 0 auto;
}
.info-box.pink-box {
    background-color: #ecb9c9;
    color: #d22a6b;
    display: flex;
    flex-wrap: wrap;
}
.info-box {
    display: block;
    width: 100%;
    height: 100%;
    float: left;
    box-shadow:11px 12px 15px 0px rgba(0,0,0,0.25);
    -webkit-box-shadow:11px 12px 15px 0px rgba(0,0,0,0.25);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.info-box:hover {
	box-shadow:0px 7px 19px 6px rgba(0,0,0,0.25);
    -webkit-box-shadow:0px 7px 19px 6px rgba(0,0,0,0.25);
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.date-box {
    width: 100%;
    float: left;
}
.date-box h5 {
    font-weight: bold;
    text-transform: uppercase;
    font-style: italic;
    font-size: 21px;
    padding-bottom: 5px;
}
.date-box p {
    font-weight: 500;
    text-transform: uppercase;
    font-size: 18px;
}
.offer-text {
    width: 100%;
    float: left;
    padding: 5px 0;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.offer-text h1 {
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 60px;
    font-family: 'Cera Stencil PRO Trial';
}
.more-text {
    padding: 5px 0;
    width: 100%;
    float: left;
}
.more-text p {
    font-size: 19px;
    line-height: 25px;
    text-align: left;
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 0;
}
.button-main {
    width: 100%;
    float: left;
    padding: 10px 0;
}
.blubox-img {
    width: 100%;
    float: left;
}

.blubox-img img {
    width: 100%;
}
a.button-link {
    font-size: 24px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    display: block;
    border: 2px solid #fff;
    border-radius: 5px;
    line-height: 50px;
    font-weight: bold;
    transition: all 0.5s ease;
}
.pink-box .offer-text{border-color:#d22a6b;}
a.button-link:hover {
    background-color: #235F8E;
    transition: all 0.5s ease;
}
.pink-box .date-box h4 {
    font-size: 22px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 5px 0;
}
.pink-box .more-text h3 {
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
    line-height: 28px;
}
.pink-box .more-text p {
    font-size: 24px;
    font-weight: 500;
    line-height: 100%;
}
.pink-box a.button-link {
    color: #d22a6b;
    border-color: #d22a6b;
}
.pink-box a.button-link:hover {
    color: #fff;
    border-color: #fff;
}
.col-sm.summer-logo-main {
    align-self: center;
}
.satisfied-main {
    padding: 35px 0 20px 0;
}
.satisfy-main {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
}
.satisfy-logo {
    margin-right: -22px;
    z-index: 100000;
}
.satisfy-content {
    background-color: rgba(0,94,145,0.75);
    padding: 10px 20px 10px 30px;
    color: #fff;
}
.satisfy-content h2 {
    font-size: 36px;
    font-weight: bold;
    color: #acdcef;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.satisfy-content p {
    color: #acdcef;
    font-size: 26px;
    text-transform: uppercase;
    font-weight: bold;
}
a.button-satisfied {
    display: block;
    color: #4283aa;
    font-size: 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    line-height: 92px;
    border: 5px solid #4283aa;
    padding: 0 13px;
}
footer.footer {
    background-color: #f7f9f8;
    padding: 50px 0;

}
.dropdown.language-dropdown {
    display: inline-block;
    float: left;
    padding-left: 20px;
}

.dropdown.language-dropdown a#dropdownMenuLink {
    padding: 3px 15px;
    background-color: transparent;
    border-color: #fff;
}
.footer-link {
    width: 100%;
    float: left;
}

.footer-link ul {
    display: block;
    text-align: center;
}

.footer-link ul li {
    display: inline-block;
    padding: 0 10px;
}

.footer-link ul li a {
    color: #808281;
    font-size: 14px;
    line-height: 25px;
    font-weight: bold;
}

/* odr v2 page */
section.odrv-block {
    background-image: url('../image/purchase-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.odr-in-block {
    width: 100%;
    height: 100%;
    float: left;
    display: block;
    color: #fff;
    background-color: rgba(121,194,222,0.8);
}

.odr-in-block .infobox-in {    
    padding: 130px 15% 20px 20px;
}
.odr-in-block .date-box h5 {
    font-size: 41px;
    font-style: normal;
    font-family: 'Cera Stencil PRO Trial';
}
.odr-in-block .date-box p {
    font-size: 27px;
}
.odr-in-block .offer-text h1 {
    font-size: 64px;
    line-height: 80px;
}
.odr-in-block .more-text p {
    font-size: 26px;
    line-height: 35px;
}
.price-odr {
    width: 100%;
    float: left;
}
.price-odr p {
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
    padding-bottom: 10px;
}
.price-odr p span {
    font-weight: bold;
}
section.form-block {
    padding: 40px 0;
}
.addres-block {
    background-color: #6a85a4;
    color: #fff;
    padding: 30px 30px 30px 30px;
    width: 100%;
    float: left;
    display: block;
}

.addres-block h2 {
    font-weight: normal;
    font-size: 28px;
    padding-bottom: 10px;
}

.addres-block p {
    font-size: 20px;
    line-height: 30px;
    font-weight: normal;
}

.addres-block p a {
    color: #fff;
}
.cta-button {
    width: 100%;
    float: left;
    display: block;
    padding-top: 20px;
    text-align: right;
}
.cta-button a {
    background-color: #b2becf;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    display: inline-block;
    padding: 10px 20px;
}
.cta-button a:hover{
    background-color: #878f9b;
}
.form-title {
    width: 100%;
    float: left;
}
.form-title h2 {
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #6a85a2;
    border-bottom: 2px solid #6885a2;
    margin-bottom: 15px;
}
.form-main .form-group {
    border: 3px solid #b3becd;
    padding: 20px 40px;
    margin-left: 30px;
    position: relative;
}

.form-main {
    width: 100%;
    float: left;
}

.form-main .form-group:before {
    content: "1";
    width: 50px;
    height: 50px;
    background-color: #b3becd;
    position: absolute;
    left: -25px;
    top: 50%;
    text-align: center;
    color:#fff;
    line-height: 50px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50px;
    margin-top: -25px;
    z-index: 1;
}
.form-main .form-group:after {
    content: "";
    width: 70px;
    height: 70px;
    background-color: #fff;
    border-color: #b3becd #b3becd transparent transparent;
    position: absolute;
    left: -38px;
    top: 50%;
    text-align: center;
    color:#fff;
    line-height: 70px;
    font-size: 30px;
    font-weight: bold;
    border-radius: 50px;
    margin-top: -35px;
    border-width: 3px;
    border-style: solid;
    z-index: 0;
    transform: rotate(45deg);
}
.form-main .field-second:before {
    content: "2";
}
.form-main .field-third:before {
    content: "3";
}
.form-main .field-fourth:before {
    content: "4";
}
.form-main .form-group label {
    color: #6a85a4;
    font-size: 20px;
    font-weight: bold;
}
.form-main .form-group label.custom-file-label {
    font-size: 16px;    
    color: #000;
    width: 65%;
    box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.2);
    border-color:#d6d6d6 ;
    
}
.form-main .form-group small#emailHelp {
    color: #000;
    font-size: 13px;
}
.form-main .custom-file-input:lang(en)~.custom-file-label::after {
    content: "Envoyer";
}
.form-main select.custom-select {
    border-color: #d6d6d6;
    box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.2);
    color: #000;
    width: 65%;
    font-weight: bold;
}
.form-main .form-group label span {
    font-weight: 500;
}
.form-main .btn-primary {
    color: #fff;
    background-color: #b2becf;
    border-color: #b2becf;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 3px 20px;
    border-radius: 0;
    text-align: right;
    float: right;
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(121,194,222,.5) !important;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle{
    background-color: #79c2de;
    border-color: #79c2de;
}
/* odr v2 */
/* game f1 v2 */
section.game-block {
    background-image: none;
}
.game-bg-image{
    background-image: url('../image/game.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: block;
    background-position: center center;
}
.game-in-block {
    background-color: #ecb9c9;
    color: #d22a6b;
}
.odr-in-block.game-in-block .date-box h4 {
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px 0;
}
section.odrv-block.game-block .offer-text {
    border-color: #d22a6b;
}
section.odrv-block.game-block .more-text h3 {
    font-size: 45px;
    text-transform: uppercase;
    font-weight: bold;
}
section.odrv-block.game-block .more-text p{
     font-weight: normal;
}
p.june {
    font-weight: normal;
    padding: 0;
}
.car-image {
    width: 100%;
    float: left;
    text-align: right;
    padding-bottom: 30px;
}
.car-image img {
    text-align: right;
    float: right;
    margin-top: -20px;
}
.pink-address .addres-block {
    background-color: #df6997;
}
.pink-address .cta-button a {
    background-color: #ecb9c9;
    color: #b3457c;
}
.bwt-game .form-main .form-group {
    border: 3px solid #d22a6b;
}
.bwt-game .form-title h2 {
    color: #d22a6b;
    border-bottom: 2px solid #d22a6b;
}
.bwt-game .form-main .form-group:before{
    background-color: #d22a6b;
}
.bwt-game .form-main .form-group:after{
    border-color: #d22a6b #d22a6b transparent transparent;
}
.bwt-game .form-main .form-group label{
color: #d22a6b;
}
.bwt-game .form-main .form-group label.custom-file-label{
    color: #000;
}
.bwt-game .form-main .btn-primary {
    background-color: #df6997;
    border-color: #df6997;
}
.bwt-game .btn-primary:not(:disabled):not(.disabled):active:focus,.bwt-game .show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(223,105,151,.5) !important;
}
.bwt-game .btn-primary:not(:disabled):not(.disabled).active,.bwt-game .btn-primary:not(:disabled):not(.disabled):active,.bwt-game .show>.btn-primary.dropdown-toggle{
    background-color: #d22a6b;
    border-color: #d22a6b;
}
/* game f1 v2 */
/* odr form */
.odr-block .game-bg-image {
    background-image: url('../image/odr.png');
}
.odr-block .odr-in-block.game-in-block {
    background-color: #d22a6b;
    color: #fff;
}
section.odrv-block.game-block.odr-block .offer-text{
    border-bottom:1px solid #fff ;
}
section.odrv-block.game-block.odr-block .more-text h3 {
    font-size: 31px;
}
section.odrv-block.game-block.odr-block .odr-in-block .infobox-in {
    padding: 320px 20px 20px 20px;
}
section.odrv-block.game-block.odr-block .more-text p {
    font-weight: normal;
    text-transform: capitalize;
}
.odr-form-block .addres-block p a {
    color: #d22a6b;
}
.odr-form-block .pink-address .addres-block {
    background-color: #ecb9c9;
    color: #d22a6b;
}
.odr-form-block .pink-address .cta-button a {
    background-color: #d22a6b;
    color: #fff;
}
.image-robots {
    padding: 40px 0;
    width: 100%;
    float: left;
    text-align: center;
}
.odr-form-block .form-main .form-group {
    border: 3px solid #ecb9c9;
}
.odr-form-block .form-main .form-group:before {
    background-color: #ecb9c9;
}
.odr-form-block .form-main .form-group:after {
    border-color: #ecb9c9 #ecb9c9 transparent transparent;
}
.image-robots img {
    margin: 0 auto;
}
.odr-form-block .form-group.reason-box {
    border: none;
    margin-left: 0;
    padding: 0 0px 0 30px;
}
.odr-form-block .form-group.reason-box:before,.odr-form-block .form-group.reason-box:after {
    display: none;
}
.form-group.reason-box label {
    font-weight: 500;
}
.odr-form-block .form-group.reason-box textarea{
    box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.2);
}
.purchase-date {
    width: 100%;
    display: flex;
    padding: 20px 0px 0 0;
}
.purchase-date input#date-picker{
    box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.2);
    border:1px solid #d6d6d6;
    opacity: 1;
    padding:5px 10px;
    border-radius: .25rem;
    color: #000;
    font-weight: bold;
}
.purchase-date label {
    font-weight: 500 !important;
    margin-bottom: 0 !important;
    padding-right: 20px;
}

.form-row.bank-detail .form-group {
    margin-left: 0;
    padding-left: 30px;
    border: none;
    padding-right: 0;
    padding-top: 5px;
    margin-bottom: 0;
}
.form-row.bank-detail .form-group:before,.form-row.bank-detail .form-group:after {
    display: none;
}
label.bank-label {
    width: 100%;
    float: left;
    padding-left: 30px;
    color: #d22a6b;
    font-size: 20px;
    font-weight: bold;
}
label.bank-label span {
    font-weight: 500;
}
.form-row.bank-detail input {
    box-shadow: none;
}
.odr-form-block .bwt-game .form-main .btn-primary {
    background-color: #d22a6b;
    border-color: #df6997;
}
.form-row.bank-detail input {
    font-weight: bold;
    color: #000;
    box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.2);
    -webkit-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.2);
    -moz-box-shadow: inset 0 0 5px 1px rgba(0,0,0,0.2);
    border:1px solid #d6d6d6;
    border-radius: .25rem;
}
/* odr form  */
/* login page */
.login-bg , .forgetpassword-bg, .register-bg, .repass-bg{
    background-image: url('../image/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: block;
    height: calc(100vh - 125px);
}
.support-bg{
    background-image: url('../image/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: block;
    height: auto;
    padding-bottom: 50px;
}
.login-box-body , .forget-box, .repass-box {
    margin: 0 auto;
    background-color: rgba(255,255,255,0.7);
    display: block;
    max-width: 100%;
    width: 50%;
    text-align: left;
    padding: 50px 0;
}
.register-box{
    margin: 0 auto;
    background-color: rgba(255,255,255,0.7);
    display: block;
    max-width: 100%;
    width: 70%;
    text-align: left;
    padding: 50px 20px;
}
.support-box{
    margin: 0 auto;
    background-color: rgba(255,255,255,0.7);
    display: block;
    max-width: 100%;
    width: 70%;
    text-align: left;
    padding: 50px 20px;
}
h4.login-box-msg ,h4.box-title{
    padding-bottom: 20px;
    text-align: center;
}

.login-box-body input.form-control, .forget-box input.form-control, .register-box .form-control, .support-box .form-control, .repass-box .form-control{
    background-color: rgba(255,255,255,0.5);
    color: #000;
    box-shadow: none;
    border-color: #ccc;
}
.login-box-body input[type="password"], .repass-box input[type="password"]{
    letter-spacing: 1px;
}
.login-box-body .form-control:focus, .forget-box .form-control:focus, .register-box .form-control:focus, .support-box .form-control:focus, .repass-box .form-control:focus{
     color: #495057; 
     background-color: #fff; 
     border-color: #80bdff; 
     outline: 0; 
     box-shadow: 0 0 0 0.2rem rgba(0,0,0,.15); 
}
.login-bg a{color: #d22a6b;}
.login-box-body .btn-primary , .forget-box .btn-primary, .register-box .btn-primary , .support-box .btn-primary, .repass-box .btn-primary{
    color: #fff;
    background-color: #79c2de;
    border-color: #79c2de;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-break: break-word;
    white-space: normal;
}
.support-btn {
    margin-top: 30px;
}
/* login page end */


@media(min-width:240px) and (max-width:767px){
div#navbarSupportedContent ul {
    padding-top: 30px;
}
a.navbar-brand {
    padding: 0 20px;
    margin: 0;
}
button.navbar-toggler {
    margin-right: 15px;
}
header.header {
    padding: 15px 0;
}
section.three-block {
    padding: 30px 0 30px 0;
}
.offer-text h1 {
    font-size: 35px;
    line-height: 50px;
}
section.three-block .col-md {
    margin-bottom: 20px;
}
a.button-link {
    font-size: 20px;
}
.summer-logo {
    text-align: center;
    margin: 0 auto;
    display: block;
}
.summer-logo img {
    text-align: center;
    margin: 0 auto;
}
.satisfy-logo {
    width: 100%;
    margin-right: 0;
    margin-bottom: -50px;
    text-align: center;
}
.satisfy-logo img {
    display: block;
    text-align: center;
    margin: 0 auto;
}
.satisfy-content {
    padding: 60px 20px 10px 30px;
    text-align: center;
}
.satisfy-button {
    display: block;
    width: 100%;
}
a.button-satisfied {
    line-height: 50px;
    padding: 0 13px;
}
.footer-link ul li {
    display: block;
    padding: 0 10px;
    border-bottom: 1px solid #ccc;
}
.footer-link ul li:last-child {    
    border-bottom: none;
}
ul.navbar-nav li a {
   text-align: center;
}

}
@media(min-width:768px) and (max-width:991px){
div#navbarSupportedContent ul {
    padding-top: 30px;
}
section.three-block .col-md {
    -ms-flex-preferred-size: 0;
    flex-basis: auto;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    max-width: 100%;
    flex: 0 0 100%;
    margin-bottom: 20px;
}
section.three-block {
    padding: 50px 0 50px 0;
}
.summer-logo {
    text-align: center;
    margin: 0 auto;
    display: block;
}
.summer-logo img {
    text-align: center;
    margin: 0 auto;
}
.satisfy-content h2{
	font-size: 33px;
}
.satisfy-content p {
    color: #acdcef;
    font-size: 23px;
}
.satisfy-button {
    width: 100%;
    display: block;
    text-align: center;
}
.satisfy-button {
    width: 100%;
    display: block;
    text-align: center;
}
}

@media(min-width:992px) and (max-width:1199px){
header .navbar-light .navbar-nav .nav-link {
    font-size: 17px;
}
.offer-text h1 {
    font-size: 35px;
    line-height: 40px;
}
.pink-box .more-text h3 {
    font-size: 23px;
    line-height: 25px;
}
.satisfy-content h2 {
    font-size: 27px;
}
.satisfy-content p {
    font-size: 20px;
}
a.button-satisfied {
    font-size: 21px;
    line-height: 72px;
    padding: 0 13px;
}
}
@media(min-width:992px) and (max-width:1500px){
.container-fluid.login-bg ,.container-fluid.forgetpassword-bg,.container-fluid.register-bg, .support-bg{
    padding-top: 10% !important;
}
 .register-bg , .repass-bg{
    padding-bottom: 50px !important;
    height: auto;
}
}